Makefile
libtool
stamp-h1
Doxyfile
config.h
config.log
config.status
autom4te.cache

.deps
.libs

*.la
*.lo
*.o
*.rej
*.orig
*.patch

*~
*.swp

.DS_Store
_site
.sass-cache/
.jekyll-cache/
.jekyll-metadata
dist/
