Makefile
libtool
stamp-h1
Doxyfile
config.h
config.log
config.status
autom4te.cache

.deps
.libs

*.la
*.lo
*.o
*.rej
*.orig
*.patch

*~
*.swp

src/include/spf_lib_version.h

src/spf_example/spf_example
src/spf_example/spf_example_static
src/spfd/spfd
src/spfd/spfd_static
src/spfquery/spfquery
src/spfquery/spfquery_static
src/spftest/spftest
src/spftest/spftest_static

